.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar .bars-btn{
    display: none;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media (max-width:1080px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 25px;
        font-size: 16px;
    }
    .navbar .bars-btn{
        display: none;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 1.5rem;
    }
    .navbar button{
        font-size: 14px;
        padding: 8px 20px;
    }
    .navbar-search-icon .dot{
        min-width: 8px;
        min-height: 8px;
        right: -6px;
        top: -0;
    }

}
@media (max-width:900px) {
    .navbar .logo{
        width: 100px;
    }
    .navbar-menu{
        display: none;
    }
    .navbar .bars-btn{
        display: block;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 24px;
    }
    .navbar button{
        font-size: 15px;
        padding: 8px 21px;
    }
    .navbar-search-icon .dot{
        min-width: 8px;
        min-height: 8px;
        right: -6px;
        top: -0;
    }
        .navbar .bars-btn{
        display: block;
        font-size: 24px;
        color: #49557e;
    }

}

@media (max-width:750px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar .logo{
        width: 110px;
    }
    .navbar-menu{
        display: none;
    }
    .navbar .bars-btn{
        display: block;
        font-size: 23px;
        color: #49557e;
    }
    .navbar-right{
        gap: 25px;
    }
    .navbar-right img{
        width: 23px;
    }
    .navbar button{
        font-size: 15px;
        padding: 6px 20px;
    }
    .navbar .active{
        padding-bottom: 2px;
        border-bottom: 2px solid #49557e;
    }
    .navbar-search-icon{
        position: relative;
    }
    .navbar-search-icon .dot{
        min-width: 8px;
        min-height: 8px;
        top: -5px;
        right: -5px;
    }
    
}