
.bars-container{
    position: fixed;
    z-index: 1000;
    top: 4.6;
    right: 4.6rem;
    background: #fff;
    padding: 0.1rem 0;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 70vw;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(227, 227, 227);
}
.bars-container a{
    display: block;
    margin: 0.5rem 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color-1);
    border-radius: 0.5rem;
    width: 90%;
    background: #fff;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.bars-container a:hover{
    background: rgb(255, 138, 71);
}